.nav-menu{
float: right;
  overflow: hidden;
}

.c-menu{
  display: flex;
flex-direction: row;
margin-top: 15px;
  &--item{

  }
  &__link{
    margin-right: 30px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #b28656;
    border: solid 2px #b28656;
    border-radius: 3px;
    transition: .4s;
    @include media-breakpoint-down(xs) {
      margin-right: 5px;
      padding:5px 10px ;
    }
  }
  &__link:hover{
    background: #e3c36e;
    color: #605d54;
    text-decoration:none;

  }

}