.bgcolor-footer{
  background: $background-footer;
}
.bg-color-u{
  background: #f8f5e3;
  padding: $space_s;
  margin: 0 auto;
  margin-bottom: $space_s;
  border-radius:3px;
  width: 200px;
  height: 300px;
}
.u-user-text{
  color: $font-color;
}
.bg-color-top{
  background: #efd7a3;
}
.u-color--font{
  color: #efd7a3;
}

